.movieinterface {
  position: relative;
  /* display: inline-block; */
  width: 300px;
  height: 300px;
  border-radius: 12px;
  margin-right: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 12px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movieinterface:hover .image {
  filter: brightness(40%);
}

.movieinterface:hover .middle {
  opacity: 1;
}

.text {
  color: rgb(248, 247, 247);
  font-weight: 900;
  font-size: 1.5rem;
}
@media (max-width: 1025px) {
  .movieinterface .image {
    filter: brightness(60%);
  }
  .movieinterface .middle {
    opacity: 1;
  }
}
