.movies {
  margin-top: 10vh;
}

.inputSection {
  margin-left: 4rem;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
form input {
  outline: none;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  width: 90vw;
  height: 3.3rem;
  border: 1px solid #000000;
}

@media (max-width: 1025px) {
    .inputSection{
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    
}

